<!--The content below is only a placeholder and can be replaced.-->
<div style="text-align:center">
  <h1>
    Welcome to {{ title }}!
  </h1>
</div>
<ul>
  <button (click)="add()">add</button>
  <button (click)="query()">query</button>
  <button (click)="edit()">edit</button>
  <button (click)="delete()">delete</button>
  <br>
  <button (click)="addTask()">addTask</button>
  <button (click)="queryTask()">查询任务队列</button>
  <button (click)="startTask()">开始执行任务队列</button>
  <button (click)="startTaskForWorker()">web worker中执行任务队列</button>

  <app-heroes></app-heroes>
</ul>

